<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mina.ParaMapper.Enity">
    <!--查询部分-->
    <!--查询车辆的总数-->
    <select id="selectcar" resultType="com.mina.Entity.car">
        select * from car where car_id = 2020120401;
    </select>


<!--插入-->
    <insert id="insertcar" parameterType="com.mina.Entity.car">
        insert into car (car_id, car_type, sub_id, att_id)
        values (#{car_id},#{car_type},#{sub_id}, #{att_id})
    </insert>

<!--更新-->
    <update id="updatacar" parameterType="com.mina.Entity.car">
        update car set
        car_type = #{car_type},
        sub_id = #{sub_id},
        att_id = #{att_id}
        where car_id = #{car_id}

    </update>

<!--删除-->
    <delete id="deletecar" parameterType="com.mina.Entity.car">
        delete from car where car_id = #{car_id}
    </delete>
</mapper>
